---
import Layout from "../layouts/Layout.astro";
import telaAraña from "../image/Error404-telaAraña.webp";
import Image from "astro/components/Image.astro";
---

<Layout title="404-Not Found">
  <div class="bg-gray-100 flex items-center justify-center h-screen">
    <main class="text-center">
      <h2 class="text-6xl font-bold black mb-4">404</h2>
      <p class="text-xl text-black mb-6">Página no encontrada</p>
      <p class="text-md text-black mb-6">
        Lo sentimos, pero la página que estás buscando no existe.
      </p>
      <Image
        src={telaAraña}
        alt="Tela de error 404"
        width={400}
        height={80}
        loading="eager"
        class="mb-6"
      />
      <a
        href="/"
        class="text-blue-600 hover:text-blue-800 font-semibold text-lg p-6"
      >
        Volver al inicio
      </a>
    </main>
  </div>
</Layout>
