---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404-Not Found">
  <div class="bg-gray-100 flex items-center justify-center h-screen">
    <main class="text-center">
      <h2 class="text-6xl font-bold black mb-4">404</h2>
      <p class="text-xl text-black mb-6">Página no encontrada</p>
      <p class="text-md text-black mb-6">
        Lo sentimos, pero la página que estás buscando no existe.
      </p>
      <a
        href="/"
        class="text-blue-600 hover:text-blue-800 font-semibold text-lg"
      >
        Volver al inicio
      </a>
    </main>
  </div>
</Layout>
