---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404-Not Found">
  <div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>
      <p class="text-xl text-gray-600 mb-6">Página no encontrada</p>
      <p class="text-md text-gray-500 mb-6">
        Lo sentimos, pero la página que estás buscando no existe.
      </p>
      <a
        href="/"
        class="text-blue-600 hover:text-blue-800 font-semibold text-lg"
      >
        Volver al inicio
      </a>
    </div>
  </div>
</Layout>
