---
import Banner from "../components/home/Banner.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutUs from "../components/home/AboutUs.astro";
import AboutOurJob from "../components/home/AboutOurJob.astro";
import AboutOurTeam from "../components/home/AboutOurTeam.astro";
import AboutOurProducts from "../components/home/AboutOurProducts.astro";
import Footer from "../components/Footer.astro";
import Hitos from "../components/home/Hitos.astro";
import Contacto from "../components/home/Contacto.astro";
---

<Layout title="Abitacolo">
  <main>
    <Nav />
    <Banner />
    <AboutUs />
    <AboutOurJob />
    <AboutOurTeam />
    <Hitos />
    <AboutOurProducts />
    <Contacto />
    <Footer />
  </main>
</Layout>
