---
import Layout from '../layouts/Layout.astro';
import Article from '../components/article.astro'


---

<Layout title="Abitacolo">
	<main>
		<h1 class=" hover:animate-fade-out-down text-4xl text-center mt-20 text-verdeAbitacolo font-bold" >Abitacolo</h1>
		<Article/>
	
		
	</main>
</Layout>


