---
import { Image } from "astro:assets";
import rescatamos from "../../image/ourJob/rescatamos.webp";
import restauramos from "../../image/ourJob/restauramos.webp";
import entregamos from "../../image/ourJob/entregamos.webp";

const articles = [
  {
    title: "Rescatamos",
    description:
      "Nos ocupamos de recoger muebles desechados en la calle, puntos limpios o viviendas de particulares. Buscamos esos tesoros olvidados porque sabemos ver su potencial oculto",
    image: rescatamos,
  },
  {
    title: "Reinventamos",
    description:
      "Tras una cuidadosa limpieza, nuestro equipo restaura y reinventa cada pieza con pasión. Le damos un nuevo carácter para que retome su ciclo de vida con aire renovado. ",
    image: restauramos,
  },
  {
    title: "Rentamos",
    description:
      "Mostramos nuestras creaciones en un catálogo digital, para que puedas alquilar tus piezas favoritas por el tiempo que lo necesites. Te las entregamos y recogemos en tu hogar",
    image: entregamos,
  },
];
---

<section
  class="w-full bg-[#d9d9d9] px-4 lg:px-8 py-8 md:py-11 grid place-items-center"
>
  <div class="max-w-7xl">
    <h2
      class="mb-4 text-center text-black/90 text-4xl md:text-5xl leading-tight tracking-tight"
    >
      ¿Cómo trabajamos?
    </h2>
    <p class="mb-8 text-center max-sm:max-w-[320px] md:text-xl">
      El innovador sistema de Abitacolo se basa en 3 pasos. <strong
        >Nuestras 3 propias "Rs"</strong
      >
    </p>

    <div class="grid gap-4 justify-center lg:grid-cols-3">
      {
        articles.map((article) => (
          <article class="relative w-full aspect-square sm:aspect-[11/10] max-w-[448px] max-md:max-h-[348px]">
            <Image
              src={article.image}
              alt={`Imagen de ${article.title}`}
              loading="lazy"
              class="absolute inset-0 w-full h-full object-cover"
            />
            <div class="absolute inset-0 bg-black bg-opacity-40 shadow" />
            <div class="relative h-full p-4 sm:p-6 flex flex-col justify-end">
              <h3 class="mb-2 text-white text-xl sm:text-2xl font-bold">
                {article.title}
              </h3>
              <p class="text-white text-xs sm:text-sm font-medium">
                {article.description}
              </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
