<section id="AboutUs" class="bg-[#cccccc]">
  <div
    class="max-w-[1440px] grid place-content-center mx-auto max-md:px-4 px-8 py-32 xl:flex gap-12"
  >
    <h1
      class="max-w-[680px] max-md:max-w-[450px] max-md:text-[54px] max-md:leading-[51.30px] text-9xl leading-[121.60px] grid place-content-center"
    >
      ¿Qué es Abitacolo?
    </h1>
    <div>
      <p class="text-xl font-light leading-relaxed">
        En Abitacolo, creemos que cada mueble tiene una historia fascinante que
        merece ser contada. <br /><br />
      </p><p class="text-xl font-semibold leading-relaxed">
        Rescatamos piezas olvidadas, las restauramos con pasión y las
        presentamos en nuestra plataforma. <br />
      </p><p class="text-xl font-light leading-relaxed">
        <br />Somos cazadores de tesoros, artesanos y narradores de historias.
      </p><p class="text-xl font-semibold leading-relaxed">
        ¿Quieres ser parte de la próxima historia de un mueble extraordinario?
      </p>
    </div>
  </div>
</section>
