---
import { Image } from "astro:assets";

const productInfo = [
  {
    title: "Titulo-1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut est at felis sodales tempus.",
    image: "https://via.placeholder.com/320x208",
  },
  {
    title: "Titulo-2",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut est at felis sodales tempus.",
    image: "https://via.placeholder.com/320x208",
  },
  {
    title: "Titulo-3",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut est at felis sodales tempus.",
    image: "https://via.placeholder.com/320x208",
  },
  {
    title: "Titulo-4",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut est at felis sodales tempus.",
    image: "https://via.placeholder.com/320x208",
  },
];
---

<section
  id="products"
  class="w-full bg-[#1c1c1e] grid justify-center min-h-[700px] pb-6 px-4 lg:px-8"
  aria-label="Nuestros productos"
>
  <div class="max-w-[1440px] w-full pt-12 flex flex-col gap-8">
    <header class="py-4 border-b border-white/10 grid justify-center px-4">
      <h2
        class="max-w-[958px] h-fit text-center text-white text-8xl leading-[72px] tracking-[-.08em]"
      >
        Echa un vistazo a lo que hacemos
      </h2>
    </header>
    <div class="grid xl:grid-cols-2 gap-8 place-content-center">
      {
        productInfo.map((product) => (
          <article class="bg-white/5 md:flex items-center max-w-[680px] max-md:max-w-[398px] max-md:rounded-lg overflow-hidden">
            <Image
              width={320}
              height={208}
              class="w-full h-auto max-md:rounded-t-lg"
              src={product.image}
              alt={`Imagen de ${product.title}`}
              loading="lazy"
            />
            <div class="flex flex-col p-4 gap-8">
              <h3 class="text-white text-xl font-semibold capitalize">
                {product.title}
              </h3>
              <p class="text-white/90 text-base">{product.description}</p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
