---
import rescatamos from "../../image/ourJob/rescatamos.webp";
import restauramos from "../../image/ourJob/restauramos.webp";
import entregamos from "../../image/ourJob/entregamos.webp";
---

<section class="w-full grid justify-center bg-[#d9d9d9]">
  <div
    class="min-h-[748px] max-sm:px-2 px-8 py-24 flex-col justify-start items-center gap-24 inline-flex max-w-[1376px]"
  >
    <header
      class="max-w-[796px] text-center text-black/90 md:text-[56px] max-md:text-[32px] leading-[64px]"
    >
      <h1>¿Cómo trabajamos?</h1>
    </header>

    <div
      class="justify-start items-start gap-4 min-[1440px]:inline-flex max-[1440px]:grid"
    >
      <!-- Rescatamos -->
      <article
        class="max-w-[448px] h-[400px] px-8 pt-60 pb-12 rounded shadow flex-col justify-start items-start gap-8 inline-flex bg-cover bg-center"
        style={{ backgroundImage: `url(${rescatamos.src})` }}
      >
        <header
          class="self-stretch h-[108px] flex-col justify-start items-start gap-4 flex"
        >
          <h2 class="self-stretch text-white text-[28px] leading-loose">
            Rescatamos
          </h2>
        </header>
        <p class="self-stretch text-white text-sm uppercase leading-tight">
          Nos ocupamos de recoger muebles desechados, buscamos esos tesoros que
          ya no quiere y les damos una segunda vida.
        </p>
      </article>

      <!-- Restauramos -->
      <article
        class="max-w-[448px] h-[400px] px-8 pt-60 pb-12 rounded shadow flex-col justify-start items-start gap-8 inline-flex bg-cover bg-center"
        style={{ backgroundImage: `url(${restauramos.src})` }}
      >
        <header
          class="self-stretch h-[108px] flex-col justify-start items-start gap-4 flex"
        >
          <h2 class="self-stretch text-white text-[28px] leading-loose">
            Restauramos
          </h2>
        </header>
        <p class="self-stretch text-white text-sm uppercase leading-tight">
          Nuestro equipo restaura y reinventa cada pieza con pasión, devolviendo
          la vida a cada una.
        </p>
      </article>

      <!-- Entregamos -->
      <article
        class="max-w-[448px] h-[400px] px-8 pt-60 pb-12 rounded shadow flex-col justify-start items-start gap-8 inline-flex bg-cover bg-center"
        style={{ backgroundImage: `url(${entregamos.src})` }}
      >
        <header
          class="self-stretch h-[108px] flex-col justify-start items-start gap-4 flex"
        >
          <h2 class="self-stretch text-white text-[28px] leading-loose">
            Entregamos
          </h2>
        </header>
        <p class="self-stretch text-white text-sm uppercase leading-tight">
          Exhibimos nuestras creaciones en nuestra plataforma para que
          encuentres tu favorita, listas para tu hogar.
        </p>
      </article>
    </div>
  </div>
</section>
