---
import CarruselReact from "../../components/home/CarruselReact.jsx";
---

<section
  id="team"
  class="w-full bg-[#0000000A] grid justify-center pb-8 px-4 lg:px-8"
  aria-labelledby="team-heading"
>
  <article class="max-w-[1440px] rounded-sm">
    <header
      class="flex w-full items-center rounded-sm py-24 max-md:py-12 lg:gap-48 max-lg:flex-col-reverse max-lg:gap-8"
    >
      <div class="grid gap-10 max-w-[650px]">
        <p class="leading-[27px] md:text-xl lg:text-center">
          Abitacolo cuenta con un equipo de profesionales dedicados a hacer de
          tu experiencia algo <strong>extraordinario</strong>. Cada miembro del
          equipo está comprometido con tu satisfacción. ¿Listo para comenzar tu
          viaje con Abitacolo? Contáctanos hoy mismo.
        </p>
        <a
          href="#contacto"
          class="flex place-items-center place-self-center w-fit h-12 px-6 py-2 bg-[#d6ff85] border-2 border-black rounded-full text-xl font-semibold hover:bg-[#a1b036] max-lg:hidden"
        >
          Habla con nuestro equipo
        </a>
      </div>

      <h2
        id="team-heading"
        class="max-w-[376px] tracking-[-.07em] text-6xl lg:text-9xl leading-[70px] lg:leading-[121.60px]"
      >
        Un gran equipo
      </h2>
    </header>
    <CarruselReact client:load />

    <div class="flex justify-center max-lg:m-4 lg:hidden">
      <a
        href="#contacto"
        class="flex items-center justify-center w-full h-12 px-3 py-4 text-xl font-semibold bg-[#d6ff85] border-2 border-black rounded-full hover:bg-[#a1b036] max-w-[282px]"
      >
        Habla con nuestro equipo
      </a>
    </div>
  </article>
</section>
