---

---

<section id="AboutUs" class="w-full bg-white grid justify-center pb-8">
  <div class="xl:h-[688px] max-w-[1440px] px-8 py-32 xl:flex gap-4">
    <h1
      class="text-black md:text-[56px] max-md:text-[32px] font-normal uppercase leading-[56px] max-w-[680px] pb-4 w-full"
    >
      ¿Qué es Abitacolo?
    </h1>
    <div class="flex flex-col gap-12 grow">
      <div
        class="text-black/60 text-[32px] font-light leading-[41.60px] max-w-[980px]"
      >
        <p>
          En Abitacolo, creemos que cada mueble tiene una historia fascinante
          que merece ser continuada. <strong class="font-semibold">
            Rescatamos piezas olvidadas, las restauramos con pasión y las
            presentamos en nuestra plataforma.
          </strong> Somos cazadores de tesoros, artesanos y narradores de historias.
          <strong class="font-semibold">
            ¿Quieres ser parte de la próxima historia de un mueble
            extraordinario?
          </strong>
        </p>
      </div>
      <div class="flex gap-4">
        <button
          class="px-6 py-4 bg-[#919e32] rounded-sm backdrop-blur-xl text-white text-base font-normal uppercase max-md:w-full"
        >
          ¡Cuéntanos tu idea!
        </button>
      </div>
    </div>
  </div>
</section>
