---
import { Image } from "astro:assets";
import rescatamos from "../../image/ourJob/rescatamos.webp";
import restauramos from "../../image/ourJob/restauramos.webp";
import entregamos from "../../image/ourJob/entregamos.webp";

const articles = [
  {
    title: "Rescatamos",
    description:
      "Realizamos la recogida de muebles de forma eficiente y responsable, ya sea de la calle, áreas designadas para el desecho, o directamente desde viviendas y locales. Nuestro objetivo es facilitar la donación y reciclaje de mobiliario en desuso.",
    image: rescatamos,
  },
  {
    title: "Restauramos",
    description:
      "Transformamos muebles olvidados en objetos únicos y con carácter, utilizando técnicas creativas y sostenibles. Con un enfoque económico, ofrecemos la oportunidad de dar nueva vida a los muebles, convirtiéndolos en piezas originales para el hogar gracias a la recuperación creativa.",
    image: restauramos,
  },
  {
    title: "Entregamos",
    description:
      "Ofrecemos un alquiler asequible de muebles de calidad, disponible exclusivamente por el tiempo que los clientes necesiten. Nuestro servicio es domiciliario, lo que significa que entregamos los muebles directamente en su hogar. A través de nuestra plataforma en línea, reciben muebles funcionales y estilosos con una suscripción mensual, disfrutando de una experiencia sin complicaciones y beneficios adicionales para facilitar su uso y mantenimiento.",
    image: entregamos,
  },
];
---

<section class="w-full grid justify-center bg-[#d9d9d9]">
  <div
    class="min-h-[748px] max-sm:px-2 px-8 max-md:py-8 py-24 flex-col justify-start items-center max-md:gap-8 gap-24 inline-flex max-w-[1376px]"
  >
    <h1
      class="max-w-[796px] text-center text-black/90 md:text-[56px] font-semibold max-md:text-[32px] leading-[64px]"
    >
      ¿Cómo trabajamos?
    </h1>

    <div
      class="justify-start items-start gap-4 min-[1440px]:inline-flex max-[1440px]:grid"
    >
      {
        articles.map((article) => (
          <article class="relative max-w-[448px] h-[600px] rounded shadow overflow-hidden max-md:max-w-[448px]">
            <Image
              src={article.image}
              alt={`Imagen de ${article.title}`}
              width={448}
              height={600}
              class="absolute inset-0 w-full h-full object-cover"
            />
            <div class="absolute inset-0 bg-black bg-opacity-50" />
            <div class="relative z-10 h-full px-8 pt-52 pb-12 flex flex-col justify-start items-start gap-4">
              <header class="self-stretch flex-col justify-start items-start flex">
                <h2 class="self-stretch text-white text-[28px] leading-loose font-bold">
                  {article.title}
                </h2>
              </header>
              <p class="self-stretch text-white text-lg leading-tight font-semibold">
                {article.description}
              </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
