---
import CarruselReact from "../../components/home/CarruselReact.jsx";
---

<section
  id="team"
  class="w-full bg-[#0000000A] grid justify-center pb-8 px-4 lg:px-8"
  aria-labelledby="team-heading"
>
  <article class="max-w-[1440px] rounded-sm">
    <header
      class="py-24 max-md:py-12 flex lg:gap-48 items-center rounded-sm w-full max-lg:flex-col-reverse max-lg:gap-8"
    >
      <div class="grid gap-10 max-w-[650px]">
        <p class="lg:text-center text-xl leading-[27px]">
          Abitacolo cuenta con un equipo de profesionales dedicados a hacer de
          tu experiencia algo <strong>extraordinario</strong>. Cada miembro del
          equipo está comprometido con tu satisfacción. ¿Listo para comenzar tu
          viaje con Abitacolo? Contáctanos hoy mismo.
        </p>
        <a
          href="#contacto"
          class="h-14 px-3 py-2 bg-[#d6ff85] border-2 border-black rounded-full w-fit text-xl font-semibold hover:bg-[#a1b036] place-self-center max-lg:hidden flex place-items-center"
        >
          Habla con nuestro equipo
        </a>
      </div>

      <h2
        id="team-heading"
        class="lg:text-9xl text-7xl lg:leading-[121.60px] leading-[70px] max-w-[376px] tracking-[-.07em]"
      >
        Un gran equipo
      </h2>
    </header>
    <CarruselReact client:load />

    <div class="max-lg:m-4 lg:hidden flex justify-center">
      <a
        href="#contacto"
        class="h-14 px-3 py-4 bg-[#d6ff85] border-2 border-black rounded-full w-full text-xl font-semibold justify-center hover:bg-[#a1b036] flex items-center max-w-[282px]"
      >
        Habla con nuestro equipo
      </a>
    </div>
  </article>
</section>
