---

---

<section id="AboutUs" class="w-full bg-white grid justify-center">
  <div class="max-w-[1440px] px-8 py-32 xl:flex gap-4">
    <h1
      class="text-black md:text-[56px] max-md:text-4xl font-semibold leading-[56px] max-w-[680px] pb-4 w-full"
    >
      ¿Qué es Abitacolo?
    </h1>
    <div class="flex flex-col gap-12 grow">
      <div
        class="text-black/60 text-[32px] font-light leading-[41.60px] max-w-[980px] grid gap-4"
      >
        <p>
          En Abitacolo, creemos que cada mueble tiene una historia fascinante
          que merece ser continuada.
        </p>
        <p>
          <strong class="font-semibold">
            Rescatamos piezas olvidadas, las restauramos con pasión y las
            presentamos en nuestra plataforma.
          </strong>
        </p>
        <p>
          Somos cazadores de tesoros, artesanos y narradores de historias.
          <br />
          <strong class="font-semibold">
            ¿Quieres ser parte de la próxima historia de un mueble
            extraordinario?
          </strong>
        </p>
      </div>
      <button
        class="max-w-[543px] max-h-12 px-6 py-4 bg-[#919e32] rounded-[10px] backdrop-blur-xl justify-center items-center gap-1 inline-flex text-white text-2xl"
      >
        ¡Quiero saber más!
      </button>
    </div>
  </div>
</section>
