---
import { Image } from "astro:assets";
import Collage1 from "../../image/products/Collages-1.webp";
import Collage2 from "../../image/products/Collages-2.webp";
import Collage3 from "../../image/products/Collages-3.webp";
import Collage4 from "../../image/products/Collages-4.webp";

const images = [
  { src: Collage1, alt: "Collage 1" },
  { src: Collage2, alt: "Collage 2" },
  { src: Collage3, alt: "Collage 3" },
  { src: Collage4, alt: "Collage 4" },
];
---

<section
  id="products"
  class="bg-[#1c1c1e] py-12 px-5 lg:px-32 grid place-items-center"
  aria-label="Nuestros productos"
>
  <div class="max-w-[1440px]">
    <header class="mb-8 pb-4 border-b border-white/10 flex justify-center">
      <h2
        class="text-white text-[60px] max-w-[650px] lg:text-[96px] lg:text-center lg:leading-[72px] tracking-[-.08em] leading-[60.80px]"
      >
        Echa un vistazo a lo que hacemos
      </h2>
    </header>
    <div class="grid md:grid-cols-2 md:gap-8 gap-3 px-9">
      {
        images.map((image) => (
          <Image
            class="w-full h-auto object-cover"
            src={image.src}
            alt={image.alt}
            loading="lazy"
            width={680}
            height={1000}
          />
        ))
      }
    </div>
  </div>
</section>
