---
import CarruselReact from "../../components/home/CarruselReact.jsx";
import CarruselAstro from "./CarruselAstro.astro";
---

<section id="team" class="w-full bg-[#0000000A] grid justify-center pb-8 px-4">
  <article class="max-w-[1376px] w-full bg-white rounded-sm">
    <header
      class="md:h-64 max-md:h-[132px] px-8 py-24 max-md:py-12 bg-white flex justify-center items-center rounded-sm"
    >
      <h1
        class="md:text-[56px] max-md:text-[32px] font-semibold text-black/90 leading-[64px]"
      >
        Nuestro equipo
      </h1>
    </header>
    <CarruselAstro />
    <section
      class="min-h-[408px] bg-white px-8 py-24 max-md:py-12 flex items-center gap-4 rounded-e-sm max-lg:flex-col-reverse"
    >
      <div class="flex-1 pr-32 max-md:pr-0">
        <p class="text-[#666666] text-[28px] leading-9">
          “Abitacolo cuenta con un equipo de profesionales dedicados a hacer de
          tu experiencia algo extraordinario. Cada miembro del equipo está
          comprometido con tu satisfacción. ¿Listo para comenzar tu viaje con
          Abitacolo? Contáctanos hoy mismo.”
        </p>
      </div>

      <div class="flex-1 flex flex-col gap-7 max-lg:mb-4">
        <h2 class="text-black text-[40px]">Expertos a tu servicio</h2>

        <a
          href="#contacto"
          class="h-14 px-6 py-4 bg-[#919e32] rounded-[10px] w-full text-xl font-semibold text-white uppercase grid justify-center hover:bg-[#a1b036]"
        >
          Contáctanos
        </a>
      </div>
    </section>
  </article>
</section>
