---
import { Image } from "astro:assets";
import rescatamos from "../../image/ourJob/rescatamos.webp";
import restauramos from "../../image/ourJob/restauramos.webp";
import entregamos from "../../image/ourJob/entregamos.webp";

const articles = [
  {
    title: "Rescatamos",
    description:
      "Nos ocupamos de recoger muebles desechados en la calle, puntos limpios o viviendas de particulares. Buscamos esos tesoros olvidados porque sabemos ver su potencial oculto",
    image: rescatamos,
  },
  {
    title: "Reinventamos",
    description:
      "Tras una cuidadosa limpieza, nuestro equipo restaura y reinventa cada pieza con pasión. Le damos un nuevo carácter para que retome su ciclo de vida con aire renovado. ",
    image: restauramos,
  },
  {
    title: "Rentamos",
    description:
      "Mostramos nuestras creaciones en un catálogo digital, para que puedas alquilar tus piezas favoritas por el tiempo que lo necesites. Te las entregamos y recogemos en tu hogar",
    image: entregamos,
  },
];
---

<section class="w-full grid justify-center bg-[#d9d9d9] px-4 lg:px-8">
  <div
    class="min-h-[748px] max-md:py-8 py-11 flex-col justify-start items-center gap-6 inline-flex max-w-[1376px]"
  >
    <div>
      <h2
        class="max-w-[796px] text-center text-black/90 md:text-[56px] font-semibold max-md:text-[32px] leading-[64px]"
      >
        ¿Cómo trabajamos?
      </h2>
      <p class="my-4">
        El innovador sistema de Abitacolo se basa en 3 pasos. Nuestras 3 propias
        “Rs”
      </p>
    </div>

    <div
      class="justify-start items-start gap-4 min-[1440px]:inline-flex max-[1440px]:grid"
    >
      {
        articles.map((article) => (
          <article class="relative max-w-[448px] h-[396px]">
            <Image
              src={article.image}
              alt={`Imagen de ${article.title}`}
              width={448}
              loading="lazy"
              height={396}
              class="absolute inset-0 w-full max-h- h-full object-cover"
            />
            <div class="absolute inset-0 bg-black bg-opacity-30" />
            <div class="relative z-10 h-full px-8  pb-8 grid gap-4 content-end">
              <header class=" flex-col  flex">
                <h3 class=" text-white text-[28px] leading-loose font-bold">
                  {article.title}
                </h3>
              </header>
              <p class=" text-white text-sm leading-tight font-semibold">
                {article.description}
              </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
