<section
  id="AboutUs"
  class="bg-[#cccccc] px-4 lg:px-8"
  aria-labelledby="about-us-heading"
>
  <div
    class="max-w-[1440px] grid place-content-center mx-auto py-11 xl:flex gap-12"
  >
    <h1
      id="about-us-heading"
      class="max-w-[450px] md:max-w-[680px] max-md:text-[54px] text-9xl leading-[51.30px] md:leading-[121.60px] grid place-content-center tracking-[-.08em]"
    >
      ¿Qué es Abitacolo?
    </h1>
    <div class="grid md:text-xl lg:max-w-[600px]">
      <p class="font-light leading-relaxed">
        En Abitacolo, creemos que cada mueble tiene una historia fascinante que
        merece ser contada. <br /><br />
      </p>
      <p class="font-semibold leading-relaxed">
        Rescatamos piezas olvidadas, las reinventamos con pasión y las ofrecemos
        en nuestra plataforma mediante suscripción. <br />
      </p>
      <p class="font-light leading-relaxed">
        <br />Somos cazadores de tesoros, artesanos y narradores de historias.
      </p>
      <p class="font-semibold leading-relaxed">
        ¿Quieres ser parte de la próxima historia de un mueble extraordinario?
      </p>
      <a
        href="#contacto"
        class="flex justify-center items-center w-full h-14 mt-10 px-4 py-2 rounded-full text-xl font-semibold leading-tight bg-white border-2 border-black hover:bg-black hover:text-white transition-colors duration-300 max-w-80 max-md:place-self-center"
      >
        ¡Quiero saber más!
      </a>
    </div>
  </div>
</section>
