---
import { Image } from "astro:assets";
import rescatamos from "../../image/ourJob/rescatamos.webp";
import restauramos from "../../image/ourJob/restauramos.webp";
import entregamos from "../../image/ourJob/entregamos.webp";

const articles = [
  {
    title: "Rescatamos",
    description:
      "Nos ocupamos de recoger muebles desechados. Buscamos esos tesoros olvidados y los ponemos en un sistema de alquiler por el tiempo que lo necesites.",
    image: rescatamos,
  },
  {
    title: "Restauramos",
    description:
      "Nuestro equipo restaura y reinventa cada pieza con pasión. Le damos una segunda vida personalizada para que continúe su tiempo de vida y uso.",
    image: restauramos,
  },
  {
    title: "Entregamos",
    description:
      "Mostramos nuestras creaciones en un catálogo digital, para que encuentres tu pieza favorita, Te las entregamos directamente en tu hogar y nos encargamos de su recogida cuando ya hayan cumplido su función.",
    image: entregamos,
  },
];
---

<section class="w-full grid justify-center bg-[#d9d9d9]">
  <div
    class="min-h-[748px] max-sm:px-2 px-8 max-md:py-8 py-24 flex-col justify-start items-center max-md:gap-8 gap-24 inline-flex max-w-[1376px]"
  >
    <h1
      class="max-w-[796px] text-center text-black/90 md:text-[56px] font-semibold max-md:text-[32px] leading-[64px]"
    >
      ¿Cómo trabajamos?
    </h1>

    <div
      class="justify-start items-start gap-4 min-[1440px]:inline-flex max-[1440px]:grid"
    >
      {
        articles.map((article) => (
          <article class="relative max-w-[448px] h-[600px] rounded shadow overflow-hidden max-md:max-w-[448px]">
            <Image
              src={article.image}
              alt={`Imagen de ${article.title}`}
              width={448}
              height={600}
              class="absolute inset-0 w-full h-full object-cover"
            />
            <div class="absolute inset-0 bg-black bg-opacity-50" />
            <div class="relative z-10 h-full px-8  pb-12 grid gap-4 content-end">
              <header class="self-stretch flex-col  flex">
                <h2 class="self-stretch text-white text-[28px] leading-loose font-bold">
                  {article.title}
                </h2>
              </header>
              <p class="self-stretch text-white text-lg leading-tight font-semibold">
                {article.description}
              </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
