---
import { Image } from "astro:assets";
import imgBanner from "../../image/home/placeHolderBanner.webp";
---

<section
  class="grid justify-center bg-[#cccccc] pt-24 px-4 lg:px-8"
  aria-label="Banner principal"
>
  <div class="max-w-[1440px] w-full">
    <div
      class="flex gap-[50px] max-[1200px]:flex-col-reverse max-[1200px]:gap-[25px] max-[1200px]:mt-4 items-center"
    >
      <Image
        src={imgBanner}
        alt="Muebles únicos y transformadores para tu hogar"
        width={651}
        height={565}
        loading="eager"
        class="w-full max-w-[651px] h-auto aspect-[651/565] object-cover"
      />

      <div class="max-sm:flex place-content-center">
        <h1
          class="text-[#333333] max-sm:text-[32px] max-sm:w-[284px] text-[64px] max-w-[600px] leading-[1.1] xl:max-w-[450px] max-sm:leading-[1.1] tracking-[-.08em]"
        >
          Transforma tu hogar con <span class="font-semibold"
            >muebles únicos</span
          >
        </h1>
      </div>
    </div>
  </div>
</section>
