---
import { Image } from "astro:assets";
import imgBanner from "../../image/home/placeHolderBanner.webp";
---

<div class="grid justify-center bg-[#cccccc] pt-24">
  <div class="">
    <div
      class="flex gap-[50px] max-[1200px]:flex-col-reverse max-[1200px]:gap-[25px] max-[1200px]:mt-10 px-4"
    >
      <Image
        src={imgBanner}
        alt="Imagen de muebles"
        width={651}
        height={565}
        loading="eager"
      />
      <div class="place-content-center">
        <h1
          class="text-[#333333] text-[64px] leading-[60.80px] max-w-[700px] xl:max-w-[500px]"
        >
          Transforma tu hogar con <span class="font-semibold"
            >muebles únicos</span
          >
        </h1>
      </div>
    </div>
  </div>
</div>
