---
import imgBanner from "../../image/home/bannerHome.webp";
---

<div class="w-full h-[800px] bg-black/70 grid justify-center">
  <div
    class="max-w-[1440px] w-full bg-cover bg-center grid"
    style={{ backgroundImage: `url(${imgBanner.src})` }}
  >
    <div
      class="px-8 max-sm:px-4 py-24 grid gap-2.5 bg-gradient-to-r from-black/80 to-black/50 content-end"
    >
      <div class="md:flex h-fit max-md:grid items-end gap-4">
        <h1
          class="text-white text-[56px] max-sm:text-[32px] font-bold uppercase leading-[64px]"
        >
          Transforma tu hogar con muebles únicos
        </h1>
        <a class="w-fit" href="#contacto">
          <button
            class="px-6 h-14 bg-[#d5d5d5]/10 rounded-sm backdrop-blur-xl items-center"
          >
            <span
              class="text-white text-base font-bold uppercase leading-none tracking-tight whitespace-nowrap"
            >
              MÁS INFORMACIÓN
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
