---
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    // Procesar los datos
  } catch (error) {
    console.error(error instanceof Error ? error.message : error);
  }
}
---

<div
  id="contacto"
  class="flex justify-start pt-12 bg-white pb-6 px-4 lg:px-8 w-full max-md:flex-col lg:justify-center"
>
  <div class="flex flex-col gap-3 text-start w-full max-w-[450px]">
    <p
      class="text-[90px] text-black leading-[85.50px] max-md:text-[64px] max-sm:text-[50px] mx-auto"
    >
      Ponte en contacto con Abitacolo
    </p>

    <div
      class="w-full text-[#151438]/40 text-[22px] font-medium leading-loose max-md:text-lg max-sm:text-base mx-auto"
    >
      ¿Quieres más información sobre este proyecto? Puedes escribirnos o
      llamarnos y te informaremos encantados
    </div>
    <div class="max-w-[308px] text-black leading-relaxed font-semibold text-xl">
      +34 xxx xxx xxx
    </div>
  </div>

  <!--Separacion entre formulario y texto -->

  <form
    action="https://formsubmit.co/8ef3a12491cf88e883476dae52fd2893"
    method="POST"
    class="w-full max-w-[700px] min-h-[516px] px-3"
  >
    <div
      class="flex flex-col max-w-[783.71px] md:flex items-center md:gap-5 justify-center mt-5 gap-3"
    >
      <label for="nombre" class="sr-only">Nombre</label>
      <input
        id="nombre"
        type="text"
        name="nombre"
        placeholder="Nombre"
        required
        autocomplete="name"
        class="w-full max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="telefono" class="sr-only">Teléfono (Opcional)</label>
      <input
        id="telefono"
        type="tel"
        name="telefono"
        placeholder="Teléfono (Opcional)"
        autocomplete="tel"
        class="w-full max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="email" class="sr-only">Email</label>
      <input
        id="email"
        type="email"
        required
        name="email"
        placeholder="Email"
        autocomplete="email"
        class="w-full max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="mensaje" class="sr-only">Tu mensaje</label>
      <textarea
        id="mensaje"
        name="mensaje"
        required
        placeholder="Tu mensaje"
        class="w-full max-w-[488px] h-[170px] max-md:h-[159px] rounded-sm border border-[#666666] p-4 text-lg font-medium placeholder-[#151438]/40 resize-none"
      ></textarea>

      <button
        type="submit"
        class="w-60 max-md:w-full max-md:mt-2 h-14 bg-[#333333]/70 rounded-3xl font-semibold leading-normal tracking-wide text-white text-2xl hover:bg-[#333333] transition-colors"
      >
        Enviar
      </button>
      <div class="flex items-center gap-3 mt-5">
        <input
          type="checkbox"
          id="terms"
          class="w-[19px] h-[19px] max-w-[400px] rounded border border-[#919e32]"
          required
        />
        <label for="terms" class="text-center"
          >Acepto los términos y condiciones</label
        >
      </div>
    </div>
  </form>
</div>
