<section
  id="contacto"
  class="flex pt-12 bg-white pb-6 px-4 lg:px-8 w-full max-md:flex-col justify-center "
  aria-labelledby="contact-heading"
>
  <div class="flex flex-col   w-full max-w-[450px] items-start ml-5">
    <h2
      id="contact-heading"
     
      class="text-[90px] text-black leading-[85.50px] max-md:text-[64px] max-sm:text-[50px] mx-auto tracking-[-.08em]"
    >
      Ponte en contacto con Abitacolo
  </h2>

    <p
      class="w-full text-[#151438]/80 text-[22px] font-medium leading-loose max-md:text-lg max-sm:text-base mx-auto"
    >
      ¿Quieres más información sobre este proyecto? Puedes escribirnos o
      llamarnos, nos encantará informarte.
    </p>
    <p class="max-w-[308px] text-black leading-relaxed font-semibold text-xl">
      abitacolo.info@gmail.com
    </p>
    <p class="max-w-[308px] text-black leading-relaxed font-semibold text-xl">
      +34 666 69 63 58
    </p>
    <p class="max-w-[308px] text-black leading-relaxed font-semibold text-xl">
      +34 635 11 56 22
    </p>
  </div>

  <form
    action="https://formspree.io/f/xgveeojd"
    method="POST"
    class="w-full max-w-[700px] min-h-[516px] px-3"
  >
    <div
      class="flex flex-col max-w-[700px] gap-5 mt-5 justify-center items-center"
    >
    
      <label for="nombre" class="sr-only">Nombre</label>
      <input
        id="nombre"
        type="text"
        name="nombre"
        placeholder="Nombre"
        required
        autocomplete="name"
        class="w-full lg:max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="telefono" class="sr-only">Teléfono (Opcional)</label>
      <input
        id="telefono"
        type="tel"
        name="telefono"
        placeholder="Teléfono (Opcional)"
        autocomplete="tel"
        class="w-full lg:max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="email" class="sr-only">Email</label>
      <input
        id="email"
        type="email"
        required
        name="email"
        placeholder="Email"
        autocomplete="email"
        class="w-full lg:max-w-[488px] h-[50px] max-md:h-[65px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />

      <label for="mensaje" class="sr-only">Tu mensaje</label>
      <textarea
        id="mensaje"
        name="mensaje"
        required
        placeholder="Tu mensaje"
        class="w-full lg:max-w-[488px] h-[170px] max-md:h-[159px] rounded-sm border border-[#666666] p-4 text-lg font-medium placeholder-[#151438]/40 resize-none"
      ></textarea>
      <div class="flex flex-col w-full items-start gap-5 mt-5 justify-start  ">
        <button
          type="submit"
          class="w-60 max-md:w-full max-md:mt-2 h-14 bg-[#333333]/70 rounded-3xl font-semibold tracking-wide text-white text-2xl hover:bg-[#333333] transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#333333]"
        >
          Enviar
        </button>
     
        <div class="flex items-center align-middle gap-2 ">
          <input
            type="checkbox"
            id="terms"
            name="terms"
            class="w-[19px] h-[19px] max-w-[400px] rounded border border-[#919e32]"
            required
          />
          <label for="terms" class="text-black text-sm"
            >Acepto los <a
            href="/terminos-y-condiciones"
            class="text-blue-600 hover:text-blue-800">términos y condiciones</a
          ></label
          >
        </div>
      </div>
    </div>
  </form>
</section>
