---
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    // Procesar los datos
  } catch (error) {
    console.error(error instanceof Error ? error.message : error);
  }
}
---

<div id="contacto" class="grid justify-items-center pt-12 bg-white pb-6 px-3">
  <div class="grid gap-10 mb-10 text-center">
    <p class="text-[42px] font-semibold leading-[52px]">
      Ponte en Contacto con Nosotros
    </p>
    <div
      class="max-w-[714px] text-[#151438]/40 text-[22px] font-medium leading-loose"
    >
      ¿Quieres más información sobre este proyecto? Puedes escribirnos o
      llamarnos, nos encantará informarte.
    </div>
    <div class="max-w-[308px] text-black text-base leading-relaxed">
      +34 xxx xxx xxx
    </div>
  </div>
  <form
    action="https://formsubmit.co/8ef3a12491cf88e883476dae52fd2893"
    method="POST"
    class="grid justify-center gap-[35px] min-h-[516px] w-full px-3"
  >
    <div class="max-w-[783.71px] md:flex grid md:gap-2 gap-[35px]">
      <div class="flex flex-col">
        <label for="nombre" class="sr-only">Nombre</label>
        <input
          id="nombre"
          type="text"
          name="nombre"
          placeholder="Nombre"
          autocomplete="name"
          class="w-full max-w-[476px] h-[50px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
        />
      </div>
      <div class="flex flex-col">
        <label for="telefono" class="sr-only">Teléfono (Opcional)</label>
        <input
          id="telefono"
          type="tel"
          name="telefono"
          placeholder="Teléfono (Opcional)"
          autocomplete="tel"
          class="h-[50px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <label for="email" class="sr-only">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        class="max-w-[792px] h-[50px] rounded-sm border border-[#666666] px-6 text-lg font-medium placeholder-[#151438]/40"
      />
    </div>
    <!-- <div class="flex flex-col">
      <label for="motivo" class="sr-only">Motivo del contacto</label>
      <select
        id="motivo"
        name="motivo"
        class="max-w-[792px] h-[50px] rounded-sm border border-[#666666] px-6 text-lg font-medium text-[#151438]/40"
      >
        <option value="">Indícanos el motivo del contacto</option>
        <option value="consulta">Consulta</option>
        <option value="soporte">Soporte</option>
        <option value="otros">Otros</option>
      </select>
    </div> -->
    <div class="flex flex-col">
      <label for="mensaje" class="sr-only">Tu mensaje</label>
      <textarea
        id="mensaje"
        name="mensaje"
        placeholder="Tu mensaje"
        class="max-w-[792px] h-[170px] rounded-sm border border-[#666666] p-4 text-lg font-medium placeholder-[#151438]/40 resize-none"
      ></textarea>
    </div>
    <button
      type="submit"
      class="w-60 h-14 bg-[#919e32]/60 rounded-sm text-white text-base hover:bg-[#919e32]/80 transition-colors"
    >
      Enviar
    </button>
  </form>
</div>
