---
import Image from "astro/components/Image.astro";
import AbitacoloBlanco from "../image/logos/AbitacoloBlanco.webp";
import instagramBlanco from "../image/logos/instagramBlanco.webp";
import linkedinBlanco from "../image/logos/LinkedInBlanco.webp";

const navItems = [
  { href: "#AboutUs", label: "¿Qué es Abitacolo?" },
  { href: "#team", label: "Nuestro Equipo" },
  { href: "#hitos", label: "Hitos Abitacolo" },
  { href: "#products", label: "Nuestros Productos" },
  { href: "#contacto", label: "Contactos" },
];
---

<footer class="w-full flex justify-center bg-[#919e32]">
  <div class="max-w-[1440px] w-full p-4">
    <div class="md:flex items-center justify-between">
      <a href="/" aria-label="Inicio">
        <Image
          width={150}
          height={150}
          src={AbitacoloBlanco}
          alt="Logo Abitacolo"
          loading="lazy"
        />
      </a>
      <div class="flex gap-6 items-center max-md:flex-col-reverse">
        <p class="text-white cursor-pointer text-sm">POLÍTICA DE PRIVACIDAD</p>
        <p class="text-white cursor-pointer text-sm">POLÍTICA DE COOKIES</p>
        <div class="flex gap-5">
          {
            ["Instagram", "LinkedIn"].map((social) => (
              <Image
                class="w-6 h-6"
                src={social === "Instagram" ? instagramBlanco : linkedinBlanco}
                alt={social}
                loading="lazy"
              />
            ))
          }
        </div>
      </div>
    </div>

    <hr class="border-white mt-2 mx-5" />

    <div class="flex items-center flex-col mt-5 gap-2">
      <div class="flex gap-7 max-md:gap-2 items-center max-md:flex-col">
        {
          navItems.map(({ href, label }) => (
            <a class="p-3" {href}>
              <button class="text-white p-2 font-semibold">{label}</button>
            </a>
          ))
        }
      </div>

      <p class="text-white text-sm mt-1">
        © {new Date().getFullYear()} Abitacolo. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
