---
const scrollToSection = (id) => {
  if (typeof window !== "undefined") {
    const section = document.getElementById(id);
    section?.scrollIntoView({ behavior: "smooth" });
  }
};
import AbitacoloBlanco from "../image/logos/AbitacoloBlanco.webp";
import instagramBlanco from "../image/logos/instagramBlanco.webp";
import linkedinBlanco from "../image/logos/LinkedinBlanco.webp";
---

<footer class="w-full max-h-[240px]flex justify-center bg-[#919e32]">
  <div class="max-w-[1440px] h-auto w-full p-4">
    <div class="md:flex items-center justify-between">
      <a href="/" aria-label="Inicio">
        <img
          class="max-w-[329px] max-h-[93px] max-md:w-[135px] h-auto"
          src={AbitacoloBlanco.src}
          alt="Logo Abitacolo"
          loading="lazy"
        />
      </a>
      <div class="flex gap-6 items-center max-md:flex-col-reverse">
        <p class="text-white cursor-pointer text-sm">POLÍTICA DE PRIVACIDAD</p>
        <p class="text-white cursor-pointer text-sm">POLÍTICA DE COOKIES</p>
        <div class="flex gap-5">
          <img
            class="w-6 h-6"
            src={instagramBlanco.src}
            alt="Instagram"
            loading="lazy"
          />
          <img
            class="w-6 h-6"
            src={linkedinBlanco.src}
            alt="LinkedIn"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <hr class="border-white mt-2 mx-5" />

    <div class="flex items-center flex-col mt-5 gap-4">
      <div class="flex gap-7 max-md:gap-2 items-center max-md:flex-col">
        <a class="p-2" href="#AboutUs">
          <button class="text-white text-sm">¿Qué es Abitacolo?</button>
        </a>
        <a class="p-2" href="#team">
          <button class="text-white text-sm">Nuestro Equipo</button>
        </a>
        <a class="p-2" href="#hitos">
          <button class="text-white text-sm">Hitos Abitacolo</button>
        </a>
        <a class="p-2" href="#products">
          <button class="text-white text-sm">Nuestros Productos</button>
        </a>
        <a class="p-2 w-fit" href="#contacto">
          <button class="text-white text-sm">Contactos</button>
        </a>
      </div>

      <p class="text-white text-sm mt-1">
        © 2024 Abitacolo. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
