---
import { Image } from "astro:assets";
import AbitacoloNegro from "../image/logos/AbitacoloNegro.webp";
import InstagramNegro from "../image/logos/instagramNegro.webp";
import LinkedinNegro from "../image/logos/LinkedInNegro.webp";

const navItems = [
  { href: "#AboutUs", label: "¿Qué es Abitacolo?" },
  { href: "#team", label: "Equipo" },
  { href: "#hitos", label: "Claves Abitacolo" },
  { href: "#products", label: "Lo que hacemos" },
  { href: "#contacto", label: "Contacto" },
];
---

<footer
  class="flex justify-center w-full max-h-[574px] bg-[#d6ff85] px-4 pt-8 pb-3 lg:px-8"
>
  <div class="w-full max-w-[1440px]">
    <div class="flex items-center justify-between max-md:flex-col">
      <div class="flex justify-center">
        <a href="/" aria-label="Inicio">
          <Image
            src={AbitacoloNegro}
            alt="Logo Abitacolo"
            width={150}
            height={150}
            loading="lazy"
            class="max-md:w-[90px]"
          />
        </a>
      </div>

      <div class="flex items-center gap-6 max-md:flex-col-reverse max-md:mt-5">
        <a
          class="text-sm font-semibold cursor-pointer hover:text-blue-800"
          href="/terminos-y-condiciones"
        >
          POLÍTICA DE PRIVACIDAD
        </a>
        <a
          class="text-sm font-semibold cursor-pointer hover:text-blue-800"
          href="/terminos-y-condiciones"
        >
          POLÍTICA DE COOKIES
        </a>
        <div class="flex gap-5">
          {
            ["Instagram", "LinkedIn"].map((social) => (
              <Image
                class="w-6 h-6"
                src={social === "Instagram" ? InstagramNegro : LinkedinNegro}
                alt={social}
                loading="lazy"
              />
            ))
          }
        </div>
      </div>
    </div>

    <hr class="mt-2 border-[1px] border-black" />

    <div class="flex flex-col mt-2">
      <div
        class="flex justify-between max-md:flex-col max-md:items-center lg:px-8"
      >
        {
          navItems.map(({ href, label }) => (
            <a href={href} data-nav-link>
              <button class="p-2 text-xl text-black leading-relaxed">
                {label}
              </button>
            </a>
          ))
        }
      </div>

      <p
        class="mt-6 text-sm text-black text-center uppercase leading-relaxed tracking-[8px]"
      >
        © {new Date().getFullYear()} Abitacolo - All rights reserved
      </p>
    </div>
  </div>
</footer>

<script>
  function handleNavClick(e) {
    e.preventDefault();
    const href = e.currentTarget.getAttribute("href");
    if (!href) return;

    const isHomePage =
      window.location.pathname === "/" ||
      window.location.pathname === "/index.html";

    if (isHomePage) {
      const targetElement = document.querySelector(href);
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth" });
      }
    } else {
      window.location.href = "/" + href;
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll("[data-nav-link]");
    navLinks.forEach((link) => {
      link.addEventListener("click", handleNavClick);
    });
  });
</script>
