---
import { Image } from "astro:assets";
import AbitacoloNegro from "../image/logos/AbitacoloNegro.webp";
import ModalMenuMovil from "./ModalMenuMovil.astro";

const navItems = [
  { href: "#AboutUs", label: "¿Qué es Abitacolo?" },
  { href: "#team", label: "Equipo" },
  { href: "#hitos", label: "Claves Abitacolo" },
  { href: "#products", label: "Lo que hacemos" },
  { href: "#contacto", label: "Contacto" },
];
---

<nav class="w-full absolute flex justify-center h-fit z-50 mt-5">
  <div class="max-w-[1440px] w-full h-[65px] px-8 py-4 flex items-center">
    <a href="/" aria-label="Inicio">
      <Image
        width={225}
        height={69}
        src={AbitacoloNegro}
        alt="Logo Abitacolo"
        loading="eager"
        class="max-sm:w-[95px]"
      />
    </a>

    <div class="max-[950px]:hidden flex justify-between items-center w-full">
      <ul class="h-8 flex items-center gap-1 ml-4">
        {
          navItems.map(({ href, label }) => (
            <li>
              <a
                {href}
                class={`px-3 py-1.5 rounded-full text-white bg-[#2e2f32] hover:bg-white hover:text-black transition-colors duration-300 ${href === "#contacto" ? "bg-[#717C27]" : ""}`}
                data-nav-link
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="min-[951px]:hidden grid content-center"><ModalMenuMovil /></div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll("[data-nav-link]");
    const isHomePage = ["", "/", "/index.html"].includes(
      window.location.pathname
    );

    navLinks.forEach((link) => {
      link.addEventListener("click", (e: Event) => {
        e.preventDefault();
        const target = e.currentTarget as HTMLAnchorElement;
        const href = target.getAttribute("href");
        if (!href) return;

        if (isHomePage) {
          const targetElement = document.querySelector(href);
          targetElement?.scrollIntoView({ behavior: "smooth" });
        } else {
          window.location.href = `/${href}`;
        }
      });
    });
  });
</script>
