---
import Image from "astro/components/Image.astro";
import AbitacoloBlanco from "../image/logos/AbitacoloBlanco.webp";
import ModalMenuMovil from "./ModalMenuMovil.astro";

const navItems = [
  { href: "#AboutUs", label: "¿Qué es Abitacolo?" },
  { href: "#team", label: "Nuestro equipo" },
  { href: "#hitos", label: "Hitos Abitacolo" },
  { href: "#products", label: "Nuestros productos" },
];
---

<nav class="w-full absolute flex justify-center">
  <div class="max-w-[1440px] w-full h-[65px] px-8 py-4 flex items-center">
    <a href="/" aria-label="Inicio">
      <Image
        width={150}
        height={150}
        src={AbitacoloBlanco}
        alt="Logo Abitacolo"
        loading="eager"
      />
    </a>

    <div class="max-[1030px]:hidden flex justify-between items-center w-full">
      <ul class="h-8 flex items-center gap-1 ml-4">
        {
          navItems.map(({ href, label }) => (
            <li>
              <a
                {href}
                class="px-2 py-1.5 rounded-lg text-white bg-[#2e2f32] hover:bg-[#3e3f42] transition-colors duration-300"
                data-nav-link
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="flex items-center gap-2">
        <button class="px-2 py-1.5 rounded-lg text-white">ES</button>
        <a
          href="#contacto"
          class="px-2 py-1.5 bg-[#919e32] rounded-lg text-white font-semibold tracking-tight hover:bg-[#a1b036] transition-colors duration-300"
          data-nav-link
        >
          Contáctanos
        </a>
      </div>
    </div>
  </div>
  <div class="min-[1030px]:hidden grid content-center"><ModalMenuMovil /></div>
</nav>

<script>
  function handleNavClick(e) {
    e.preventDefault();
    const href = e.currentTarget.getAttribute("href");
    const isHomePage =
      window.location.pathname === "/" ||
      window.location.pathname === "/index.html";

    if (isHomePage) {
      document.querySelector(href)?.scrollIntoView({ behavior: "smooth" });
    } else {
      window.location.href = "/" + href;
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("[data-nav-link]").forEach((link) => {
      link.addEventListener("click", handleNavClick);
    });
  });
</script>
